.todoCard-container {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px 0;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.actionsContainer {
    display: flex;
    gap: 10px;
    position: relative;
    top: 8px;
    left: 0;
}

button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease;
    background: #3cff00;
    font-weight: 800;
}

button:hover {
    background-color: #f0f0f0;
}

button:focus {
    outline: none;
    box-shadow: 0 0 3px rgba(0, 0, 255, 0.5);
}
