.input-div {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.input-div-add-svg,
.input-div-close-svg {
    margin-right: 10px;
    cursor: pointer;
    position: relative;
    top: 15px;
    left: 10px;
    fill: white;
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 50%;
}

.input-div-input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 20px;
    color: black;
}

.input-div-txt {
    flex: 2;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
}

.input-div-stars {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.input-div-span {
    font-size: 24px;
    margin-right: 5px;
    transition: color 0.2s ease;
}

.input-div-btn {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease;
}

.input-div-btn:hover {
    background-color: #0056b3;
}

.input-div-span-txt {
    position: relative;
    left: 25%;
    bottom: 20px;
    color:  #3cff00;
    font-size: 32px;
}

@media (max-width: 600px) {
    .input-div {
        flex-direction: column;
        align-items: stretch;
        width: 88%;
    }

    .input-div-input {
        width: 70%;
        margin-bottom: 10px;
        position: relative;
        top: -20px;
        right: -20%;
    }
    .input-div-txt {
        width: 100%;
        margin-bottom: 10px;
        position: relative;
        top: 0px;
        left: 0%;
        width: 90%;
    }
    .input-div-btn {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (min-width: 768px) {
    .input-div {
        flex-direction: column;
        align-items: stretch;
        width: 83%;
    }
    .input-div-add-svg,
    .input-div-close-svg {
    top: 0px;
    left: 20px;
    width: 25px;
    fill: red;
    height: 25px;
    }
    .input-div-span-txt {
        left: 12%;
        bottom: 46px;
        font-size: 40px;
    
    }
    .input-div-input {
        position: relative;
        top: -45px;
        left: 15%;
        width: 70%;
    }
    .input-div-btn {
        width: 23%;
    }
    .input-div-span {
        font-size: 55px;
    }
}